<div class="row">
	<div class="large-12 columns">
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
		</span>
	</div>
<div>
<div class="row">
	<div class="large-12 columns">
	<h2>About</h2>
	<h4>I am very excited to introduce my business, Miss Carol’s Ballet Boutique.  For many years, I have been using my talent to create headpieces for my dance classes’ recital costumes.  This talent has lead me to create hair pieces that can be enjoyed year round, in and out of dance classes.  My success creating desirable headpieces has lead me to use similar design ideas to create beautiful dance bags, and every day totes.  I encourage you to browse my online boutique.  If you see something you like, please contact me so I can provide you with your very own Miss Carol’s Ballet Boutique creation.  Remember, each item is hand crafted and final products will vary.  Custom orders are considered.  Please use the contact link when you are ready to order your very own Miss Carol’s Ballet Boutique creation.
	</h4>
	</div>
</div>