<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "specialorder2.jpg", id: 'gallary' %>
					<%= image_tag "special_order1.jpg", id: 'gallary' %>
					<%= image_tag "pink_flower_special.jpg", id: 'gallary' %>	
				</div>
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
			<h4 class="biography">
			</br>
			</br>
			</br>
			<div id="carol"><%= image_tag "misscarol2.jpg", id: 'carol' %></div>
			</br>
			I am very excited to introduce my business, Miss Carol’s Ballet Boutique.  For many years, I have been using my talent to create headpieces for my ballet and tap dance classes’ recital costumes.  This talent has lead me to create hair pieces that can be enjoyed year round, in and out of dance classes.  Similar designs inspired me to create unique dance bags and everyday totes. Please enjoy browsing my online boutique and if you see something you like, please contact me so I can provide you with your very own Miss Carol’s Ballet Boutique masterpiece.  Remember, each item is hand crafted and final products will vary.  Custom orders are available based on time and materials.  Please use the email contact link when you are ready to order your very own <i> Miss Carol’s Ballet Boutique creation!</i>
			</div>
		</div>
	</div>
<div>