</br></br></br>
</br></br></br>
<div class="row">
	<div class="large-12 columns">
	<span>
		<h2>Email me:<a href="https://docs.google.com/forms/d/1w1GQzzhUpZAiuf5LRC5DJMpouXITYTupxLD9qZgfIl8/viewform" target="_blank"><u><h6>Click here to send a message!</h6></u></a>
		<a href="https://docs.google.com/forms/d/1w1GQzzhUpZAiuf5LRC5DJMpouXITYTupxLD9qZgfIl8/viewform" target="_blank"><%= image_tag "mail.jpg", id: 'mail' %></a>
		</h2>
	</span>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<div class="stylegallary">
		<h4>Email Miss Carol's Ballet Boutique to order your personal creation today.  Please include style number displayed on the product, your choice of color, and your contact information (name, email address, and phone number). Also, please let Miss Carol know if you are interested in a special order. Miss Carol will respond to all emails within 48 hours.  We look forward to working with you!</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "nutcracker.jpg", id: 'gallary' %>
					<%= image_tag "snowflake_flower.jpg", id: 'gallary' %>
					<%= image_tag "snowflake_blue.jpg", id: 'gallary' %>
					
				</div>
			</h4>
		</div>
	</div>
</div>