<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<div class="stylegallary">
		<h4>Submit a request to Miss Carol's Ballet Boutique and order your personal creation today.  Please include style number displayed on the product, your choice of color, and your contact information (name, email address, and phone number). Also, please let Miss Carol know if you are interested in a special order. Miss Carol will respond to all emails within 48 hours.  We look forward to working with you!</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
	<span>
		<h2>Contact Us:</h2>
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe-8wOPMEZWh3wNU1TznBxUV2fsWw85S-S8RsitSGZkwTFF6A/viewform?embedded=true" width="953" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</h2>
	</span>
	</div>
</div>

<div class="row">
	<div class="large-12 small-centered small-centered columns">
		<div class="stylegallary">
			<h4>
				<div>
					<%= image_tag "xmas_reindeer.jpg", id: 'gallary' %>
					<%= image_tag "nutcracker.jpg", id: 'gallary' %>
					<%= image_tag "xmas2.jpg", id: 'gallary' %>
				</div>
			</h4>
		</div>
	</div>
</div>