email.html.erb

<span>
	<h2>Email me:<a href="mailto:laroc22cl@gmail.com"><u><h6>Click here to send a message!</h6></u></a>
		<onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
	</h2>
</span>