<div class="row">
	<div class="small-12 center columns">
		<h1 class="name">Photo Gallary</h1>
	</div>
</div>
</br></br></br>

<div class="row">
	<div class="large-12 columns">
		<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
		</span>
	</div>
</div>