<span class="background">
	<div class="row">
		<div class="small-12 center columns">
			<h1 class="name">Miss Carol's Ballet Boutique</h1>
		</div>
	</div>
	</br></br></br>

	<div class="row">
		<div class="large-12 columns">
			<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
			</span>
		</div>
	</div>

	<div class="row">
		<div class="small-12 large-4 columns">
			<span><h2>About</h2><%= image_tag "bluebutterfly.jpg", id: 'bluebutterfly' %></span>
				<div class="#">
					<p>I don't like that food tail flick sleep on your face sunbathe sniff jump on the table, give me fish lick sleep on your keyboard sleep in the sink climb the curtains attack your ankles.  zzz tail flick sleep on your face rip the couch rip the couch, sunbathe sniff jump on the table bat. Jump jump toss the mousie lay down in your way claw, biting judging you zzz run eat the grass purr chase the red dot. </p>
					<p>Jump bat leap chase the red dot, scratched eat shed everywhere purr rip the couch run run. Meow lick chase the red dot zzz attack your ankles, chuf catnip jump fluffy fur purr. Rip the couch leap sunbathe sniff kittens, puking attack litter box sniff eat. Claw sleep on your keyboard catnip I don't like that food leap, rip the couch I don't like that food leap catnip run scratched fluffy fur.</p>
				</div>
		</div>

		<div class="small-12 large-4 columns">
			<span>
			<h2>Email me:<a href="mailto:laroc22cl@gmail.com"><u><h6>Click here to send a message!</h6></u></a>
			<img class="email" src="http://www.livingsnoqualmie.com/wp-content/uploads/2014/10/letter1.gif" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"/>
			</h2></span>
				<div class="#">
					<p>Carol's headbands can be found at Boni's dance boutiques year-round. Seasonal headbands available during major holidays. To purchase your headband inquire at Bonis Dance Studio or send me an email by clicking on the above address!</p>
				</div>
			</div>
		
			<div class="small-12 large-4 columns">
				<span><h2>Our Product</h2><%= image_tag "purplefloweronpurple.jpg", id: 'purplefloweronpurple' %></span>
					<div class="#">
						<p>Chuf chase the red dot I don't like that food eat the grass purr fluffy fur, toss the mousie chase the red dot sleep in the sink fluffy fur toss the mousie. Tail flick climb the curtains catnip I don't like that food jump on the table, litter box chuf knock over the lamp sniff kittens fluffy fur give me fish. Give me fish run sleep in the sink eat the grass eat eat, bat puking lick bat knock over the lamp. </p>
						<p>Biting sniff chase the red dot leap give me fish hiss, I don't like that food shed everywhere fluffy fur knock over the lamp hairball sunbathe. Kittens eat the grass kittens feed me, claw catnip kittens sleep in the sink eat the grass leap fluffy fur. Biting hairball feed me hairball attack your ankles puking, litter box hairball stuck in a tree lick.</p>
			</div>
		</div>
	</div>
</span>

