<span class="background">
	<div class="row">
		<div class="small-12 center columns">
			<h1 class="name">Miss Carol's Ballet Boutique</h1>
		</div>
	</div>
	</br></br></br>
	<div class="row">
		<div class="small-12 large-4 columns">
			<span><h2>About</h2><%= image_tag "bluebutterfly.jpg", id: 'bluebutterfly' %></span>
			</br>
			</br>
			</br>
		</div>
		<div class="small-12 large-4 columns">
			<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %></span>
			<span>
				<button id="myButton"><h3>Email Me</h3></button>

				<script type="text/javascript">
				    document.getElementById("myButton").onclick = function () {
				        location.href = "http://localhost:3000/welcome/email";
				    };
				</script>
			</span>
		</div>
		
		<div class="small-12 large-4 columns">
			<span><h2>Our Product</h2><%= image_tag "purplefloweronpurple.jpg", id: 'purplefloweronpurple' %></span>
		</div>
	</div>
</span>

