<div class="row">
	<div class="large-12 columns">
		<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
		</span>
	</div>
<div>
<div class="row">
	<div class="large-12 columns">
	<h2>Products</h2>
	<h4>Headbands</h4><h4>Ballet Bags</h4><h4>Barrets</h4>
	</div>
</div>