<div class="row">
	<div class="large-12 columns">
		<h2>Products</h2>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		</br>
		</br>
		</br>
		</br>
		<span id="carol"><%= image_tag "ballerina.jpg", id: 'carol' %>
		</span>
	</div>
<div>
<div class="row">
	<div class="large-12 columns">
	<h4 class="products">Each creation begins with tulle, a vital part of the ballet world.  From there, I add ribbon, flowers, bows or gems as the creation begins to take form.  While many pieces are similar, because they are hand created, each one is a unique creation.  The products listed here are a sample of Miss Carol’s Ballet Boutique creations.  After you have picked the sample you like, please use our email link to order your personal creation.
	<p>Head pieces - can be created on traditional or soft headbands, and barrettes.</p> 
	</br>
	<p>Headbands</p>
	<li>Special Orders $15.00</li>
	<li>Traditional Headbands $12.00</li>
	<li> Soft Headbands $8.00</li>
	<li>Barrettes $6.00</li>
	<p>**Shipping costs may apply. Tax included in prices.</p>
	</br>
	
	</br>
	<p>Dance Bags</p>
	<li>Dance Bags - can be created in three sizes</li>
	<li>Large (13.5” x 13.5”) - bright pink, black $15.00</li> 
	<li>Medium (14” x 10”)  - aqua, lavender, pink, Hawaiian print (pink or purple) $14.00</li>
	<li>Small (10.5” x 8.5”) - blue, purple, bright pink, yellow $11.00</li>
	<p>**Shipping costs may apply. Tax included in prices.</p>
	</br>

	<p><b>Seasonal and Customizable Collections</b></p>
	<!-- <li>Valentines Collection (V1, V2, V3)</li> -->
	<li>Easter Collection (E1, E2, E3)</li>
	<li>Autumn Collection (A1, A2, A3)</li>
	<li>Christmas Collection (C1, C2, C3)</li>
	<li>Flower Collection (F1, F2, F3)</li>
	<li>Butterfly Collection (B1, B2, B3) </li>
	<li>Special Orders Collection (SO1, SO2, SO3)</li>
	<p>**Shipping costs may apply. Tax included in prices.</p>
	</h4>
	</div>
</div>