// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	# background-image: image-url('#');
	font-family: Verdana;
	# background-color: #3299CC;
	background: -webkit-linear-gradient(left top, #9fddd8 , #3299CC); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #9fddd8, #3299CC); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #9fddd8, #3299CC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #9fddd8 , #3299CC); /* Standard syntax */
}
  

/*center name*/
h1.name, h2 {
	text-align: center;
	border: 7px solid black;
	border-radius: 15px;
	font-size: 40px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: #BFEFFF;
	-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*style index page images*/
img#carol {
	border: 4px solid black;
	height: 300px;
	border-radius: 150px;
	margin-top: 75px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: -25px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
img#bluebutterfly {
	border: 4px solid black;
	height: 200px;
	border-radius: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
	-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	opacity: .8;
}
img#purplefloweronpurple {
	border: 4px solid black;
	height: 200px;
	border-radius: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
	-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	opacity: .8;
}
/*style background of the text*/
.info {
	border: 7px solid black;
	border-radius: 15px;
	background-color: #BFEFFF;
	font-size: 14px;
	padding: 7px;
	-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	opacity: .7;
}



